@font-face {
  font-family: "GTAmerica-Regular";
  src: url("../fonts/GTAmerica-Regular.eot");
  src: url("../fonts/GTAmerica-Regular.woff2") format("woff2"),
    url("../fonts/GTAmerica-Regular.woff") format("woff"),
    url("../fonts/GTAmerica-Regular.ttf") format("truetype"),
    url("../fonts/GTAmerica-Regular.svg#GTAmerica-Regular") format("svg"),
    url("../fonts/GTAmerica-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GTAmerica-Thin-Italic";
  src: url("../fonts/GTAmerica-Thin-Italic.eot");
  src: url("../fonts/GTAmerica-Thin-Italic.woff2") format("woff2"),
    url("../fonts/GTAmerica-Thin-Italic.woff") format("woff"),
    url("../fonts/GTAmerica-Thin-Italic.ttf") format("truetype"),
    url("../fonts/GTAmerica-Thin-Italic.svg#GTAmerica-Thin-Italic")
      format("svg"),
    url("../fonts/GTAmerica-Thin-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GTAmerica-Light";
  src: url("../fonts/GTAmerica-Light.eot");
  src: url("../fonts/GTAmerica-Light.woff2") format("woff2"),
    url("../fonts/GTAmerica-Light.woff") format("woff"),
    url("../fonts/GTAmerica-Light.ttf") format("truetype"),
    url("../fonts/GTAmerica-Light.svg#GTAmerica-Light") format("svg"),
    url("../fonts/GTAmerica-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GTAmerica-Medium";
  src: url("../fonts/GTAmerica-Medium.eot");
  src: url("../fonts/GTAmerica-Medium.woff2") format("woff2"),
    url("../fonts/GTAmerica-Medium.woff") format("woff"),
    url("../fonts/GTAmerica-Medium.ttf") format("truetype"),
    url("../fonts/GTAmerica-Medium.svg#GTAmerica-Medium") format("svg"),
    url("../fonts/GTAmerica-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
