body,
html {
  color: #767676;
  background: white;
  @include font-gtamerica-light;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

section {
  padding-top: 80px;

  @include bp(phone) {
    padding-top: 10vw;
  }

  .column {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;

    @include bp(phone) {
      flex-basis: 100%;
    }
  }
}

::selection {
  background: rgba(97, 160, 234, 0.25);
  color: #62a1ea;
}

.wrapper {
  width: 90%;
  width: calc(90% - env(safe-area-inset-left) - env(safe-area-inset-right));
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  @include font-gtamerica-medium;
  font-size: 55px;
  font-size: calc(2.5em + 0.8vw);
  color: #262729;
  margin-bottom: 16px;
}

h2 {
  @include font-gtamerica-regular;
  font-size: 30px;
  font-size: calc(1.2em + 0.8vw);
  color: #262729;
  margin-bottom: 16px;

  &.light {
    color: white;
  }
}

h3 {
  @include font-gtamerica-regular;
  font-size: 20px;
  color: #b0b5bd;

  & + p {
    margin-top: 12px;
  }
}

h4 {
  @include font-gtamerica-regular;
  font-size: 20px;
  color: #3e3f41;

  & + p {
    margin-top: 27px;
  }
}

p {
  @include font-gtamerica-light;
  font-size: 16px;
  color: #989a9c;
  line-height: 1.6;

  &.light {
    color: rgba(255, 255, 255, 0.6);
  }
}

a {
  text-decoration: none;
  @extend p;

  &:hover {
    color: #656769;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
