#navigation-bar {
	background-color: white;
	border-bottom: 1px solid black;
	position: sticky;
	z-index: 100;
	top: 0;
	min-height: 70px;
	display: flex;
	align-items: center;

	@media (-webkit-min-device-pixel-ratio: 2) {
		border-bottom: 0.5px solid rgba(0,0,0, 0.1);
	}

	@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(2em) saturate(150%);
	}

	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-height: 100%;

		li {
			display: inline-block;

			& + li {
				margin-left: 20px;
			}

			a {
				color: rgba(0,0,0,0.3);

				&.-active {
					color: rgba(0,0,0,0.9);
					font-family: GTAmerica-Medium;
				}
			}
		}
	}
}
