#photos {
  .instagram-feed-container {
    min-height: calc(300px + 40px);
    padding-top: 40px;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%) rotate(0);
      transition: all 0.2s ease;
      opacity: 0;
      transform-origin: center center;
      background: url("../images/loading.png");
      background-size: cover;
      width: 58px;
      height: 58px;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background: url("../images/loading@2x.png");
        background-size: cover;
      }
    }

    &.-loading:after {
      opacity: 1;
      animation: spin 0.8s linear infinite;
    }

    @keyframes spin {
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    .instagram-feed {
      display: flex;
      height: calc(300px + 40px);
      scroll-snap-type: mandatory;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding: 0 5%;
      padding: 0 calc(5% + env(safe-area-inset-right)) 0
        calc(5% + env(safe-area-inset-left));
      scroll-padding: 5%;
      scroll-padding: calc(5% + env(safe-area-inset-right));

      @media (min-width: 1111px) {
        padding: 0 calc((100% - 1000px)/2);
        scroll-padding: calc((100% - 1000px)/2);
      }
    }

    .instagram-post {
      position: relative;
      max-height: 100%;
      scroll-snap-align: start;
      padding-bottom: 40px;
      transform: translate3d(0, 0, 0);
      will-change: transform, opacity;

      & + .instagram-post {
        margin-left: 40px;
      }

      .image {
        display: block;
        max-height: 100%;
        width: auto;
        position: relative;
        z-index: 10;
        border-radius: 6px;
        transform: translate3d(0, 0, 0);
      }

      .shadow {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 40px;
        transform: translate3d(0, 10px, 0) scale(0.9);
        opacity: 0.9;
        transform-origin: center center;
        background-size: cover;
        filter: blur(20px);

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.1);
          z-index: 5;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

#unsplash {
  .more-button {
    flex: 1;
    background-image: linear-gradient(
      -179deg,
      rgb(15, 145, 219) 0%,
      rgb(0, 122, 249) 100%
    );
    border-radius: 19px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bp(phone) {
      padding: 30px;
    }

    h3 {
      color: white;
    }

    .description {
      font-family: GTAmerica-Light;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
      line-height: 24px;
    }

    .right {
      display: flex;
      align-items: center;

      .chevron {
        margin-left: 40px;

        @include bp(phone) {
          margin-left: 30px;
        }
      }
    }

    .stats {
      display: flex;

      @include bp(phone) {
        display: none;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;

        & + li {
          margin-left: 40px;
        }
      }

      .number {
        font-family: GTAmerica-Medium;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 0.6px;
        margin-bottom: 4px;
      }

      .label {
        text-transform: uppercase;
        font-family: GTAmerica-Medium;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 1.51px;
      }
    }
  }
}

#posts {
  .posts-container {
    max-width: 500px;
    margin: 0 auto;

    h4 {
      text-align: center;
    }

    @include bp(phone) {
      max-width: 80%;
    }
  }
}

#photofeed {
  figcaption {
    text-align: center;
    display: block;
    margin: 2em 0 4em;
  }
}

.separator-container {
  text-align: center;
  display: block;
  width: 100%;
}
