@import '../../../node_modules/reset-css/_reset.scss';
@import 'fonts';
@import 'mixins';

body,
html {
  color: #767676;
  @include font-gtamerica-light;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: rgba(97,160,234,0.25);
  color: #62A1EA;
}

.wrapper {
  display: flex;
  max-width: 960px;
  width: 82%;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;

  @include bp(phone) {
    flex-direction: column;
  }
}

.introduction {
  padding: 100px 0;
  font-size: 22px;
  line-height: 1.5;
  min-height: 50vh;
  display: flex;
  align-items: center;

  @include bp(phone) {
    padding: 9% 0;
  }

  .wrapper {
    @include bp(phone) {
      flex-direction: column-reverse;
    }
  }

  .greeting {
    padding-right: 10px;
  }

  .email {
    position: relative;
    font-size: 14px;
    color: #595959;
    letter-spacing: -0.16px;
    padding-left: 19px;
    margin-top: 20px;
    display: inline-flex;
    font-weight: normal;

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 14px;
      bottom: 7px;
      left: 0;
      background: currentColor;
    }

    &:after {
      content: none;
    }
  }

  .text {
    flex: 4;
  }

  .avatar {
    flex: 2;
    padding-left: 40px;

    @include bp(phone) {
      display: flex;
      justify-content: flex-end;
      margin-bottom: -1rem;
    }

    img {
      max-width: 300px;
      max-height: 300px;

      @include bp(tablet) {
        max-width: 200px;
        max-height: 200px;
      }

      @include bp(phone) {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}

footer {
  background: #F5F7F8;
  padding: 70px 0;

  @include bp(phone) {
    padding: 50px 0;
  }

  .links,
  .projects {
    flex: 1
  }

  .projects {
    padding-right: 100px;

    @include bp(phone) {
      padding-right: 0;
      padding-bottom: 40px;
    }
  }
}

h3 {
  opacity: 0.3;
  font-size: 13px;
  color: #2F2F2F;
  letter-spacing: 1.52px;
  text-transform: uppercase;
  margin-bottom: 24px;
  @include font-gtamerica-medium;
}

li {
  margin-top: 10px;
}

a {
  color: rgba(7,7,7,0.80);
  text-decoration: none;
}

a:link, a:visited  {
  position: relative;
  z-index: 1;
  line-height: normal;
  transition: color .15s ease;
  -webkit-tap-highlight-color: rgba(97,160,234,0.25);

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background: currentColor;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.15;
    z-index: -1;
    transform: translateY(2px);
    transition: opacity .15s ease;
  }

  &:hover {
    color: #62A1EA;

    &:after {
      opacity: 0.2;
    }
  }
}

.projects {
  & li {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;
    flex-wrap: wrap;
  }

  .icon {
    display: inline-flex;
    min-height: 24px;
    min-width: 24px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  .title {
    @extend a;

    &:after {
      content: none;
    }
  }

  .soon {
    font-size: 8Px;
    color: #F0F1F2;
    position: relative;
    z-index: 1;
    text-align: center;
    @include font-gtamerica-medium;
    letter-spacing: 1.1px;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      height: 14px;
      background: #909492;
      z-index: -1;
      left: 0;
      right: 0;
      top: -3px;
      border-radius: 3px;
      transform: scaleX(1.3);
    }
  }

  .description {
    opacity: 0.5;
    padding-left: 0.5em;
    display: block;
    min-width: 100%;
    margin-top: 6px;
    margin-left: 24px;
    line-height: 1.3;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
