@import '../../../node_modules/reset-css/_reset.scss';
@import 'fonts';
@import 'mixins';

@import 'navigation';
@import 'photos';

body,
html {
  color: #767676;
  @include font-gtamerica-light;
  -webkit-font-smoothing: antialiased;
}

h3 + p {
  margin-top: 12px;
}

p {
  line-height: 1.6;
}

::selection {
  background: rgba(97,160,234,0.25);
  color: #62A1EA;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.introduction {
  padding: 100px 0;
  font-size: 22px;
  line-height: 1.5;
  min-height: 50vh;
  display: flex;
  align-items: center;

  @include bp(phone) {
    padding: 9% 0;
  }

  .wrapper {
    @include bp(phone) {
      flex-direction: column-reverse;
    }
  }

  .greeting {
    padding-right: 10px;
  }

  .email {
    position: relative;
    font-size: 14px;
    color: #595959;
    letter-spacing: -0.16px;
    padding-left: 19px;
    margin-top: 20px;
    display: inline-flex;
    font-weight: normal;

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 14px;
      bottom: 7px;
      left: 0;
      background: currentColor;
    }

    &:after {
      content: none;
    }
  }

  .text {
    flex: 4;
  }

  .avatar {
    flex: 2;
    padding-left: 40px;

    @include bp(phone) {
      display: flex;
      justify-content: flex-end;
      margin-bottom: -1rem;
    }

    @include bp(small-phone) {
      margin-bottom: 1rem;
    }

    img {
      max-width: 300px;
      max-height: 300px;

      @include bp(tablet) {
        max-width: 200px;
        max-height: 200px;
      }

      @include bp(phone) {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}

.first-section {
  margin-top: 80px;
}

footer {
  background: #F5F7F8;
  padding: 70px 0;

  @include bp(phone) {
    padding: 50px 0;
  }

  .links,
  .projects {
    flex: 1
  }

  .projects {
    padding-right: 100px;

    @include bp(phone) {
      padding-right: 0;
      padding-bottom: 40px;
    }
  }
}

h2 {
  @include font-gtamerica-regular;
  font-size: 30px;
  color: #262729;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  color: #B0B5BD;
}

a {
  color: rgba(7,7,7,0.80);
  text-decoration: none;
}

a:link, a:visited  {
  position: relative;
  z-index: 1;
  line-height: normal;
  transition: color .15s ease;
  -webkit-tap-highlight-color: rgba(97,160,234,0.25);

  &:hover {
    color: #62A1EA;

    &:after {
      opacity: 0.2;
    }
  }
}

.projects {
  & li {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;
    flex-wrap: wrap;
  }

  .icon {
    display: inline-flex;
    min-height: 24px;
    min-width: 24px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  .title {
    @extend a;

    &:after {
      content: none;
    }
  }

  .description {
    opacity: 0.5;
    padding-left: 0.5em;
    display: block;
    min-width: 100%;
    margin-top: 6px;
    margin-left: 24px;
    line-height: 1.3;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
