.introduction {
  min-height: calc(100vh - 70px);
  max-height: 700px;
  display: flex;
  margin-top: 0;
  overflow: hidden;
  padding-top: 0;
  background-image: linear-gradient(-180deg, #eef3f9 0%, #ffffff 100%);

  .wrapper {
    display: flex;
    margin: auto auto 20vh;
  }

  h1 {
    margin-top: -10px;
  }

  aside {
    height: 100%;
    position: absolute;
    right: 10%;
    margin-top: -70px;
  }

  article,
  aside {
    display: inline-flex;
    flex-direction: column;
  }
}

.project {
  overflow: hidden;

  .wrapper {
    display: flex;
  }

  .project-title {
    padding-left: 40px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      top: 4px;
      left: 0;
    }
  }

  .button {
    @include font-gtamerica-medium;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 1.08px;
    padding: 5px 9px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    text-transform: uppercase;
    align-self: flex-end;
    text-decoration: none;
  }

  .platform {
    margin-top: 1em;
    @include font-gtamerica-thin-italic;
    font-size: 16px;
    color: #b0b5bd;
  }

  .screenshot-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 80px;
    position: relative;
    z-index: 10;

    .screenshot + .screenshot {
      margin-left: 80px;
    }
  }

  & + footer {
    margin-top: 0;
  }
}

#front {
  .project-title:before {
    background-image: linear-gradient(-134deg, #ee605a 0%, #ed815a 100%);
  }
}

#nucleon {
  background-image: linear-gradient(
      -180deg,
      rgba(16, 18, 37, 0.5) 0%,
      rgba(123, 128, 160, 0.5) 100%
    ),
    radial-gradient(circle at bottom center, #7b80a0 0%, #101225 100%);
  position: relative;
  background-size: cover;

  .project-title:before {
    background-image: linear-gradient(45deg, #1cd6b7 0%, #3ed692 100%);
  }

  .stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  // .centered-screenshot {
  //   padding-top: 260px;
  // }
}

#prototypes {
  .project-title:before {
    background-image: linear-gradient(-134deg, #64c8e8 0%, #649be8 100%);
  }

  .prototype {
    width: 375px;
    background: #f6f6f5;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    position: relative;
    height: 504px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        -180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(39, 39, 42, 0.1) 100%
      );
    }

    &:hover {
      .link {
        opacity: 1;
      }
    }

    & + .prototype {
      margin-left: 80px;
    }

    .link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      padding: 0 18px;
      border-radius: 24px;
      text-decoration: none;
      transition: opacity 0.3s ease;
      will-change: opacity;
      font-family: GTAmerica-Regular;
      font-size: 16px;
      color: #3e3f41;
      line-height: 48px;
      background: #ffffff;
      box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
