/* Import Reset file */
@import "./node_modules/reset-css/reset.css";

:root {
  --body-bg: #ebebeb;
  --header-bg: #f3f3f3;
  --footer-bg: #f3f3f3;
  --heading-color: #2b2a2a;
  --body-color: #2b2a2a;
  --body-color-secondary: #a6a2a2;
  --link-color: #222;
  --link-color-hover: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #272626;
    --header-bg: #2d2c2c;
    --footer-bg: #2d2c2c;
    --body-color: #e0e0e0;
    --body-color-secondary: #5d5c5c;
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: #fff;
  }
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  -webkit-font-smoothing: antialiased;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: var(--header-bg);
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 75px;

  & .tile {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      background-color: var(--body-bg);
      width: 150%;
      height: 200px;
      bottom: -200px;
      left: 0;
      transform: translateX(-25%) rotate(3deg);
      transform-origin: bottom right;
    }
  }

  & .container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }

  & .avatar {
    display: block;
    position: absolute;
    right: 0;
    bottom: -140px;
    z-index: 20;
    max-width: 300px;
    max-height: 300px;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 0 20px 70px 0 rgba(0, 0, 0, 0.25);
  }
}

h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: var(--heading-color);
}

h2 {
  transform: translateX(calc(-100% + 28px)) translateY(-35px) rotate(-90deg);
  font-weight: 900;
  font-size: 80px;
  transform-origin: bottom right;
  text-align: right;
  position: relative;
  z-index: 1;
  color: var(--heading-color);
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: #272626;
  line-height: 1.4;
}

h4 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.heading {
  display: block;
}

.subtitle {
  color: var(--body-color-secondary);
  font-weight: 400;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

#work {
  & ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 10;
  }

  & .project {
    margin-bottom: 75px;
    width: calc(50% - (75px / 2));
    display: inline-block;
    height: 45vw;
    max-height: 600px;
    position: relative;
    transition: transform 0.2s ease;
    will-change: transform;

    &:hover {
      transform: scale(1.03);

      & .background {
        transform: scale(1.03);
      }

      & .shadow {
        opacity: 1;
      }
    }

    &:nth-child(odd):not(:first-child) {
      margin-top: -170px;
    }

    &:nth-child(2) {
      margin-top: 170px;

      @media (max-width: 600px) {
        margin-top: 0;
      }
    }

    @media (max-width: 1000px) {
      width: 47.5%;
      margin-bottom: 5%;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: 70vh;
      margin-top: 0 !important;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0.35) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    & .shadow {
      opacity: 0.65;
      transition: opacity 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 20px 70px 0 rgba(0, 0, 0, 0.4);
      pointer-events: none;
    }

    & a {
      overflow: hidden;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }

    & .card-container {
      padding: 40px 50px;
    }

    & h3,
    & h4 {
      position: relative;
      z-index: 10;
    }

    & h4 {
      margin-top: 5px;
    }

    & .background {
      transition: transform 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      pointer-events: none;
    }
  }
}

#photography {
  & h2 {
    transform: translateX(calc(-100% + 28px)) translateY(15px) rotate(-90deg);
    will-change: opacity;
  }

  & .photo-container {
    overflow-x: hidden;
    padding-bottom: 75px;
    position: relative;
    z-index: 20;
  }

  & ul {
    &::-webkit-scrollbar {
      display: none;
    }
    display: flex;
    scroll-snap-type: mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 50px 5% 75px;
    padding: 50px calc(5% + env(safe-area-inset-right)) 75px
      calc(5% + env(safe-area-inset-left));
    scroll-padding: 5%;
    scroll-padding: calc(5% + env(safe-area-inset-right));

    @media (min-width: 1111px) {
      padding: 50px calc((100% - 1000px) / 2) 75px;
      scroll-padding: calc((100% - 1000px) / 2);
    }
  }

  & .photo {
    display: block;
    position: relative;
    z-index: 20;
    scroll-snap-align: start;

    & + .photo {
      margin-left: 40px;
    }

    & img {
      width: auto;
      max-height: 500px;
      min-width: 387px;
      object-fit: cover;
      box-shadow: 0 20px 70px 0 rgba(0, 0, 0, 0.5);
    }

    & .title {
      display: block;
      margin-top: 20px;
      font-weight: 600;
      font-size: 18px;
    }

    & .location {
      display: block;
      margin-top: 8px;
      font-size: 15px;
      color: var(--body-color-secondary);
    }
  }
}

footer {
  overflow-x: hidden;
  background-color: var(--footer-bg);
  padding: 50px 0;

  & li {
    line-height: 2.5em;
  }

  & .edition {
    border-radius: 50%;
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background-color: var(--link-color);
    color: var(--footer-bg);
  }

  & .container {
    position: relative;
    display: grid;
    grid-template-columns: auto 64px;

    &:before {
      pointer-events: none;
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-block;
      width: 100vw;
      font-weight: 500;
      content: "37°45'17.99\" N -122°25'23.39\" W";
      font-size: 80px;
      color: rgba(255, 255, 255, 0.08);
      letter-spacing: -1.6px;
      background: -webkit-linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0.05) 0%,
        rgba(0, 0, 0, 0.02) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (prefers-color-scheme: dark) {
        background: -webkit-linear-gradient(
          -90deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 0.02) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
