:root {
  --primary-background: #1d1d1d;
  --secondary-background: #171717;
  --primary-text: white;
  --secondary-text: rgba(255, 255, 255, 0.5);
}

body,
html {
  color: var(--primary-text);
  background-color: var(--primary-background);
  font-size: 18px;
  line-height: 29px;
  font-family: "Indivisible", sans-serif;
  font-weight: 400;
}
*,
*:before,
*:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

nav {
  position: fixed;
  min-height: 100px;
  min-width: 100%;
  background: var(--secondary-background);
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: opacity 0.2s ease;

  @supports (backdrop-filter: blur(20px)) {
    background: rgba(20, 20, 20, 0.9);
    box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
  }
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;

  &.small {
    max-width: 730px;
    width: 80%;
  }

  &.left-aligned {
    padding-left: 150px;
  }
}

.cta-button {
  background: var(--primary-text);
  color: var(--primary-background);
  display: inline-flex;
  padding: 0 15px;
  min-height: 44px;
  line-height: 44px;
  border-radius: 22px;
  margin-bottom: 40px;
  font-weight: 500;
  position: relative;
  padding-right: 37px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 11px;
    transform: translateY(50%);
    background: url("../images/icons/arrow.svg");
    width: 22px;
    height: 22px;
  }
}

footer {
  margin-top: 60px;
  overflow-x: hidden;
  background-color: var(--secondary-background);
  padding: 50px 0;

  & li {
    line-height: 2.5em;
    font-weight: 500;
  }

  & .edition {
    border-radius: 50%;
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background-color: var(--link-color);
    color: var(--secondary-bg);
  }

  & .container {
    position: relative;
    display: grid;
    grid-template-columns: auto 64px;
  }
}
