:root {
  --body-bg: #ebebeb;
  --header-bg: #f3f3f3;
  --footer-bg: #f3f3f3;
  --heading-color: #2b2a2a;
  --body-color: #2b2a2a;
  --body-color-secondary: #a6a2a2;
  --link-color: #222;
  --link-color-hover: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #272626;
    --header-bg: #2d2c2c;
    --footer-bg: #2d2c2c;
    --heading-color: #fff;
    --body-color: #e0e0e0;
    --body-color-secondary: #5d5c5c;
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: #fff;
  }
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  -webkit-font-smoothing: antialiased;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: var(--heading-color);
}

h2 {
  transform: translateX(calc(-100% + 28px)) translateY(-35px) rotate(-90deg);
  font-weight: 900;
  font-size: 80px;
  transform-origin: bottom right;
  text-align: right;
  position: relative;
  z-index: 1;
  color: var(--heading-color);
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: #272626;
  line-height: 1.4;
}

h4 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.heading {
  display: block;
}

.subtitle {
  color: var(--body-color-secondary);
  font-weight: 400;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
