.project {
  & .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }

  & header {
    position: relative;
    height: 100vh;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(-1px) scale(1.5);
      background-image: url("../images/projects/instagram.jpg");
      background-size: cover;
      z-index: -1;
    }
  }

  & article {
    position: relative;
    height: 100vh;
    background-color: white;
  }
}
