.project {
  background-color: var(--project-bg);

  & h1 {
    font-weight: 900;
    margin-bottom: 60px;
    font-size: 60px;
    color: var(--heading-color);
  }

  & h2 {
    font-weight: 700;
    margin-bottom: 24px;
    font-size: 36px;
    color: var(--heading-color);
  }

  & p {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: var(--large-body-color);
  }

  & img {
    max-width: 100%;

    &.full-width {
      object-fit: cover;
      width: 100%;
      min-height: 650px;
      margin: 60px auto;
    }
  }

  & .block {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & header {
    position: relative;
    max-height: 60vw;
    min-height: 60vh;

    & .overlay {
      opacity: 0;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: calc(100% + 140px);
      top: 0;
      left: 0;
      z-index: 2;
    }

    & img {
      object-fit: cover;
      object-position: 75% 50%;
      position: absolute;
      width: 100%;
      height: calc(100% + 140px);
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  & article {
    position: relative;
    height: 100vh;
    background-color: var(--project-bg);
    z-index: 20;

    &:after {
      content: "";
      position: absolute;
      background-color: var(--project-bg);
      width: 150%;
      height: 200px;
      top: 0;
      left: 0;
      transform: translateX(-25%) rotate(3deg);
      transform-origin: bottom right;
      z-index: 1;
    }

    & .container {
      z-index: 10;
      position: relative;
    }
  }
}
